.border{
    border:2px solid red;
    margin:5px;
}
.flex{
    display:flex;
}
.justify-center{
    justify-content:center;
}
.items-center{
    align-items:center;
}
.bg-black{
    background-color: black;
    color:white;
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius:7px;
}
.m-2{
    margin:5px;
}
.p-1{
    padding:10px;
}
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2e2e2e; /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #1DB954; /* Green color for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    border: 3px solid #2e2e2e; /* Adds space around the thumb */
}

/* For Firefox */
html {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #1DB954 #2e2e2e; /* Thumb color, Track color */
}
